body {
  margin: 0;
  overflow: hidden;
  background-color: #222;
}

#map {
  position: relative;
  width: 1520px;
  height: 874px;
}

.tile {
  position: absolute;
  width: 38px;
  height: 38px;
  background-image: url("./assets/images/grass-plate.png");
  background-size: cover;
  image-rendering: pixelated;
}

.user {
  width: 38px;
  height: auto;
  transform-origin: bottom center;
  aspect-ratio: auto;
  position: absolute;
  background-image: url("./assets/images/player-m.png");
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  z-index: 200;
}
