html {
  --tile-width: 38px;
  --tile-height: 50px;
  --user-width: 38px;
  --tree-width: 74px;
  --tree-height: 80px;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #222;
}

#map {
  position: relative;
}

.tile {
  position: absolute;
  width: var(--tile-width);
  height: var(--tile-height);
  background-image: url("./assets/images/grass-plate.png");
  background-size: cover;
  image-rendering: pixelated;
}

.user {
  width: var(--user-width);
  height: auto;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  z-index: 100;
}

.tree {
  width: var(--tree-width);
  height: auto;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  z-index: 200;
}
