body {
  margin: 0;
  overflow: hidden;
  background-color: #222;
}

.user {
  width: 38px;
  height: 38px;
  position: absolute;
  background-color: blue;
  image-rendering: pixelated;
  z-index: 200;
}

#map {
  position: relative;
  width: 640px;
  height: 640px;
}

.tile {
  position: absolute;
  width: 38px;
  height: 38px;
  background-image: url("./assets/images/grass-plate.png");
  background-size: cover;
  image-rendering: pixelated;
}
